<% score = @team.score %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Members:</strong>
  <%= @team.members %>
</p>

<p>
  <strong>Age group:</strong>
  <%= @team.age_group %>
</p>

<p>
  <strong>School:</strong>
  <%= @team.school %>
</p>
<p>
  <strong>Score:</strong>
  <%= score[:total] %>
</p>

<h3>Highest Scores</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Course</th>
      <th>Points</th>
      <th>Completion time</th>
      <th>Judge name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% score[:maxes].each do |attempt| %>
      <tr>
        <td><%= attempt.course.name %></td>
        <td><%= attempt.points %></td>
        <td><%= attempt.completion_time %></td>
        <td><%= attempt.judge_name %></td>
        <td><%= link_to 'Show', attempt %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>All Attempts</h3>
<table class= "table table-striped">
  <thead>
    <tr>
      <th>Team</th>
      <th>Course</th>
      <th>Points</th>
      <th>Completion time</th>
      <th>Judge name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @team.attempts.each do |attempt| %>
      <tr>
        <td><%= attempt.team %></td>
        <td><%= attempt.course.name %></td>
        <td><%= attempt.points %></td>
        <td><%= attempt.completion_time %></td>
        <td><%= attempt.judge_name %></td>
        <td><%= link_to 'Show', attempt %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
