<%= form_for(@attempt) do |f| %>
  <% if @attempt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attempt.errors.count, "error") %> prohibited this attempt from being saved:</h2>

      <ul>
      <% @attempt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team_id %><br>
    <%= f.collection_select :team_id, Team.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :course_id %><br>
    <%= f.collection_select :course_id, Course.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :points %><br>
    <%= f.number_field :points, in: 0..100 %>
  </div>
  <div class="field">
    <%= f.label :completion_time %><br>
    <%= f.datetime_select :completion_time %>
  </div>
  <div class="field">
    <%= f.label :judge_name %><br>
    <%= f.text_field :judge_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
